body {
    color: chocolate;
    background-color: blanchedalmond;
    font-family: "Intel One Mono", monospace;
}
h1 {color:brown; background-color: goldenrod}
h2 { color: coral;
font-family: "Intel One Mono", monospace;
}
nav {background-color: blanchedalmond;}
nav a {color: white;}
nav {color: white;}
nav a:hover {background-color:bisque;}


a {color: dark khaki}
