body {
    color: chocolate;
    background-color: blanchedalmond;
    font-family: "Intel One Mono", monospace;
}
h1 {color:brown; background-color: goldenrod}
h2 { color: coral;
font-family: "Intel One Mono", monospace;
}
a {color: dark khaki}
